<h1>Use h1 for h1 size font in WHITE</h1>
----

<h2>Use h2 for h2 size font in WHITE</h2>
<h3>Use h3 for h2 size font in DARK BLUE</h3>

----

<h4>Use h4 for h3 size font in WHITE</h4>
<h5>Use h5 for h3 size font in DARK BLUE</h5>

----

<p>Use p for body size font in BLACK</p>
<h6>use h6 for body size font in WHITE</h6>

----



<%= link_to "primarybutton", "#", class:"primarybutton" %>
