
<div class="d-flex justify-content-center">
<h1>Your chats</h1>
</div>

<div class="max-height-chat">
<% @messages.each do |message| %>
  <div class="chat-preview">
    <!-- User Profile Image -->
    <div class="chat-image">
      <%= link_to cl_image_tag(message.match.fish.user.photo.key, height: 100, width: 100, crop: :fill, radius: 50, background: "#FFFFFF") %>
    </div>

    <!-- Chat Information -->
    <div class="chat-info">
      <h5>Chat with <%= message.match.fish.user.username %></h5>
      <p><strong>Last Message:</strong> <%= message.content.truncate(50) %></p>
      <%= link_to "Open Chat", message_path(message), class: "chat-link" %>
    </div>
  </div>
<% end %>
</div>
