.fish-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 600px;
    margin: auto;
    overflow-y: auto; /* Enables scrolling */
    max-height: 90vh; /* Limits height for scrollability */
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* Internet Explorer/Edge */
  }

.fish-container::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

.item {
    flex: 1 1 calc(50% - 16px); /* Two items per row */
    overflow: hidden;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item img {
    width: 100%; /* Ensures uniform size */
    object-fit: contain;
    border-radius: 12px;
}
