h1 {
  font-family: $headers-font;
  font-size: 32px;
  font-weight: bold;
  color: $white;
}



h2 {
  font-family: $headers-font;
  font-size: 24px;
  font-weight: bold;
  color: $white;
}

h3 {
  font-family: $headers-font;
  font-size: 24px;
  font-weight: bold;
  color: $blue-dark;
}



h4 {
  font-family: $headers-font;
  font-size: 18px;
  font-weight: bold;
  color: $white;
}

h5 {
  font-family: $headers-font;
  font-size: 18px;
  font-weight: bold;
  color: $blue-dark;
}


p {
  font-family: $body-font;
  font-size: 14px;
  color: $gray;
}

h6 {
  font-family: $body-font;
  font-size: 14px;
  color: $white
}
